<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>
    <body>
        <nav class="navbar">
            <a href="/" class="navbar-brand">Customer Diary</a>
        </nav>