<!DOCTYPE html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">Customer Diary</a>
        </nav>